#homePopup {

    .modal-dialog {
        margin-top: 75px;

        .modal-content {
            position: relative;
            background: #1b1b1b;
            border-radius: 0 15px;
            border: 3px solid #8a8a8a;
            color: #fff;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

            .close {
                background: rgba(#8a8a8a, 0.3);
                position: absolute;
                z-index: 1;
                top: 5px;
                right: 5px;
                color: #fff;
                width: 35px;
                height: 35px;
                border-radius: 100%;
                cursor: pointer;
                opacity: 1;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    font-size: 17px;
                }

                &:hover {
                    background: #8a8a8a;
                }

                @media screen and (max-width: 425px) {
                    background: #8a8a8a;
                }
            }

            .announcement-title {
                position: relative;
                border: 3px solid #8a8a8a;
                background: #1b1b1b;
                padding: 20px 30px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                max-width: 300px;
                margin: -50px auto 10px;
                color: #FFC141;
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

                .icon {
                    border-radius: 50px;
                    border: 3px solid #FFC141;
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: 18px;
                    }
                }

                h3 {
                    margin-bottom: 0;
                    margin-left: 15px;
                    font-weight: 600;
                }

                @media screen and (max-width: 425px) {
                    padding: 13px 20px;
                    max-width: 230px;
                    margin: -40px auto 0;

                    .icon {
                        padding: 10px;

                        i {
                            font-size: 16px;
                        }
                    }

                    h3 {
                        font-size: 18px;
                    }
                }
            }

            .modal-body {
                max-height: 80vh;
                overflow-y: auto;
                position: relative;

                &::-webkit-scrollbar {
                    width: 5px;
                }

                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
                }

                &::-webkit-scrollbar-thumb {
                    background: rgb(184, 184, 184);
                    border-radius: 10px;
                }

                .announcement-content {
                    img {
                        width: 100% !important;
                    }

                    table {
                        color: var(--c-white);
                    }
                }
            }
        }
    }
}

.custom-popup {

    .modal-dialog {
        margin-top: 40px;

        .modal-content {
            position: relative;
            background: var(--background-page);
            border-radius: 10px;
            color: var(--page-text);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

            .close {
                background: var(--secondary-color);
                position: absolute;
                z-index: 1;
                top: -20px;
                right: -20px;
                color: var(--secondary-text);
                width: 35px;
                height: 35px;
                border-radius: 100%;
                cursor: pointer;
                opacity: 1;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    font-size: 17px;
                }
            }
        }
    }
}

#bankDetail {
    .popup-bank-detail {

        .bank-button {
            .btn-custom-sm {
                &.add-bank {
                    background: var(--secondary-color) !important;
                    border: 1px solid var(--secondary-color) !important;
                    color: var(--secondary-text) !important;
                }

                &.cancel {
                    background: #E76767;
                    border: 1px solid #E76767;
                    color: var(--c-white);
                }

                &:hover {
                    background: var(--c-black) !important;
                    color: var(--c-white) !important;
                }
            }
        }
    }
}

#loginModal {
    .modal-content {
        max-width: 350px;
        margin: auto;
    }

    .modal-header {
        border-bottom: none;
        justify-content: center;

        .modal-title {
            color: var(--secondary-color);
            font-size: 30px;
            font-weight: 600;
        }
    }

    .modal-body {
        padding: 0px 30px 20px;

        .modal-body-form {
            .form-item {
                margin-bottom: 15px;

                .item-title {
                    font-size: 13px;
                    margin-bottom: 3px;
                }

                input {
                    outline: none;
                    padding: 9px 15px;
                    font-size: 13px;
                    border: none;
                    border-radius: 3px;
                    width: 100%;
                }
            }

            .form-forgot {
                text-align: right;

                a {
                    font-size: 13px;
                    font-style: italic;
                    text-decoration: none;
                    position: relative;
                    font-weight: 600;
                    top: -10px;
                    color: var(--secondary-color);
                }
            }

            .form-button {
                display: flex;
                flex-direction: column;
                margin-top: 10px;

                button {
                    font-size: 16px;
                    padding: 8px 10px;
                    font-weight: 600;
                    cursor: pointer;
                    background: var(--c-black);
                    border: 2px solid var(--secondary-color);
                    color: var(--secondary-color);
                    border-radius: 50px;
                    width: 100%;
                }
            }
        }
    }
}

#infoClaimBonus {
    .modal-header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        .modal-title {
            font-weight: 600;
            color: var(--secondary-color);
            display: flex;
            align-items: center;
        }
    }

    .modal-body {
        max-height: 75vh;
        overflow-y: auto;
        position: relative;
        padding-top: 0;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
        }

        &::-webkit-scrollbar-thumb {
            background: rgb(184, 184, 184);
            border-radius: 10px;
        }

        .claim-info-item {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 10px;
            padding: 10px 0;
            font-size: 15px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);

            .title {
                color: var(--c-white);
                color: rgba(255, 255, 255, 0.8);
            }

            .desc {
                font-size: 14px;
                text-align: right;
                font-weight: 600;
            }

            @media screen and (max-width: 425px) {
                grid-template-columns: repeat(1, 1fr);

                .desc {
                    text-align: left;
                }
            }
        }

        .claim-info-provider {
            padding: 10px 0;
            font-size: 15px;

            .title {
                color: rgba(255, 255, 255, 0.8);
                margin-bottom: 5px;
            }

            img {
                height: 40px;
                object-fit: contain;
                object-position: center;
            }
        }
    }
}

#claimBonus {
    .modal-header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        .modal-title {
            font-weight: 600;
            color: var(--secondary-color);
            display: flex;
            align-items: center;
        }
    }

    .modal-body {
        padding: 20px 40px;

        .claim-bonus-item {
            margin-bottom: 10px;

            .title {
                font-size: 13px;
                margin-bottom: 2px;
                font-weight: 500;
            }

            .claim-counter {
                position: relative;

                input {
                    text-align: center;
                }

                .btn-custom {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    font-size: 12px;

                    &.add {
                        top: 4px;
                        right: 5px;
                    }

                    &.minus {
                        left: 5px;
                        top: 4px;
                    }
                }
            }
        }

        // .claim-provider {
        //     margin: 25px 0;
        //     h6 {
        //         text-align: left;
        //         margin-bottom: 6px;
        //         font-size: 14px;
        //         font-weight: 600;
        //     }
        //     select {
        //         font-size: 15px;
        //         font-weight: 600;
        //         &:focus {
        //             border-color: var(--secondary-color);
        //             box-shadow: none;
        //         }
        //     }
        // }

        // .claim-counter {
        //     display: flex;
        //     align-items: center;
        //     margin-bottom: 30px; 

        //     input {
        //         border-radius: 0;
        //         text-align: center;
        //         border: 0;
        //         &:focus {
        //             outline: 0;
        //             box-shadow: none;
        //         }
        //     }

        //     .btn-custom {
        //         border-radius: 0;
        //     }
        // }

        // .claim-button {
        //     padding-top: 25px;
        //     border-top: 1px solid rgba(255,255,255,0.3);
        //     .btn-custom {
        //         border-radius: 25px;
        //         min-width: 100px;
        //         border: 2px solid var(--secondary-color);
        //         margin: 0 10px;

        //         &.cancel {
        //             background: #FD0707;
        //             color: #fff;
        //             border: 2px solid #FD0707;
        //             &:hover {
        //                 background: var(--c-black);
        //             }
        //         }
        //     }
        // }

        // @media screen and (max-width: 630px) {
        //     padding: 20px 10px;
        // }
    }

    .modal-footer {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;

        .btn-custom {
            &.cancel {
                min-width: 100px;
                background: #382C76;
                border: 1px solid #382C76;
                color: var(--c-white);
            }

            &.claim {
                min-width: 150px;
            }
        }
    }
}

#accountBalance {
    .modal-content {
        max-width: 380px;
        margin: auto;
    }

    .modal-body {
        padding: 0;
        max-height: 75vh;
        overflow-y: auto;
        position: relative;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
        }

        &::-webkit-scrollbar-thumb {
            background: rgb(184, 184, 184);
            border-radius: 10px;
        }
    }

    .popup-account-balance {
        .balance-header {
            padding: 15px 10px 15px;
            text-align: center;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);

            h6 {
                font-weight: 600;
                margin-bottom: 8px;
            }

            .acc-balance {
                font-size: 35px;
                color: var(--secondary-color);
                line-height: 23px;
            }
        }

        .balance-category {
            padding: 10px 30px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);

            .category-name {
                color: var(--secondary-color);
                font-size: 15px;
                font-weight: 600;
                margin-left: 4px;
                margin-bottom: 2px;
            }

            .provider-list {

                .prov-item {
                    margin-bottom: 8px;
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    padding: 4px 10px;
                    background: rgba(255, 255, 255, 0.1);
                    padding: 3px 10px;
                    border-radius: 4px;
                }

                .prov-balance {
                    margin-left: auto;
                }
            }

            #balance-MAIN {
                font-size: 15px;
                font-weight: 600;
            }
        }
    }

    .balance-button {
        padding: 13px 15px;
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.3);

        .btn-custom {
            border-radius: 25px;
            padding: 7px 15px;
            margin: 0 5px;
            min-width: 120px;
        }
    }
}

#languageModal {
    z-index: 9999;

    .modal-content {
        background: var(--c-white);
        padding: 10px;
        position: relative;

        .language-header {
            h3 {
                background: #181818;
                color: var(--c-white);
                text-align: center;
                font-weight: 600;
                font-size: 15px;
                padding: 8px 15px;
                margin-bottom: 0;
            }

            .header-flag {
                background: #e1e1e1;
                padding: 10px 15px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                color: var(--c-black);

                img {
                    width: 25px;
                    height: 25px;
                    object-fit: cover;
                    object-position: center;
                    margin-right: 7px;
                    border-radius: 50px;
                }

                h6 {
                    margin-bottom: 0;
                    font-weight: 700;
                }
            }
        }

        .modal-body {
            padding: 0;

            .language-list {
                color: var(--c-black);

                a {
                    color: var(--c-black);
                }

                .list-item {
                    padding: 10px 15px;
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                    display: flex;
                    align-items: center;

                    .item-flag {
                        img {
                            border-radius: 50px;
                            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
                            width: 40px;
                            height: 40px;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    .item-content {
                        margin-left: 15px;

                        h6 {
                            margin-bottom: 0;
                            font-weight: 600;
                        }

                        h5 {
                            color: colorvar(--c-black);
                            margin-bottom: 0;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

#currencyModal {
    z-index: 9999;

    .modal-content {
        background: var(--c-white);
        padding: 10px;
        position: relative;

        .language-header {
            h3 {
                background: #181818;
                color: var(--c-white);
                text-align: center;
                font-weight: 600;
                font-size: 15px;
                padding: 8px 15px;
                margin-bottom: 0;
            }

            .header-flag {
                background: #e1e1e1;
                padding: 10px 15px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                color: var(--c-black);

                h6 {
                    margin-bottom: 0;
                    font-weight: 700;
                }
            }
        }

        .modal-body {
            padding: 0;

            .language-list {
                color: var(--c-black);

                a {
                    color: var(--c-black);
                }

                .list-item {
                    padding: 10px 15px;
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .item-content {
                        margin-left: 15px;

                        h5 {
                            color: colorvar(--c-black);
                            margin-bottom: 0;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

.login-form-bottom {
    position: fixed;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 998;
    transform: translateY(-50%) scale(0);
    @include transition(0.2s);

    .form-login-bottom {
        border-radius: 15px;
        background: var(--navbar-color);
        filter: drop-shadow(0px 0px 10px black);
        color: var(--navbar-text);
        padding: 20px;
        margin: 0 15px;
        position: relative;

        .login-title {
            text-align: center;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .form-item {
            input {
                height: 35px;
                width: 100%;
                padding: 5px 10px;
                margin-bottom: 5px;
            }
        }

        .form-button {
            margin-top: 15px;

            .btn-custom {
                width: 100%;
            }
        }

        .form-forgot {
            text-align: center;
            font-size: 13px;
            margin-top: 3px;
            font-weight: 600;

            a {
                color: var(--secondary-color);
            }
        }
    }

    &.active {
        transform: translateY(-50%) scale(1);
        @include transition(0.2s);
    }
}