.table-transaksi {
    margin-top: 20px;
    overflow: auto;
    background: var(--background-page);

    .table {
        color: var(--page-text);
        margin-bottom: 0px;

        thead {
            background: #262A3B;

            tr {
                th {
                    border-bottom: none;
                    font-size: 14px;
                    font-weight: 700;
                    white-space: nowrap;

                    @media screen and (max-width: 425px) {
                        font-size: 11px;
                    }
                }

                .table-transaksi-title {
                    font-size: 22px;
                }
            }
        }

        tbody {
            background: traansparent;

            tr {
                td {
                    font-size: 13px;
                    white-space: nowrap;
                    vertical-align: middle;

                    @media screen and (max-width: 425px) {
                        font-size: 11px;
                    }

                    .table-status {
                        color: var(--c-white);
                        padding: 5px;
                        border-radius: 20px;
                        width: 100px;
                        margin: auto;
                        font-size: 11px;
                        font-weight: 600;
                        text-align: center;

                        &.approved {
                            background: #1DBC60;
                        }

                        &.pending {
                            background: #E67E22;
                        }

                        &.rejected {
                            background: #F45750;
                        }
                    }
                }
            }
        }
    }

    table.table-bordered>thead>tr>th {
        border: 1px solid #dedede;
    }

    table.table-bordered>tbody>tr>td {
        border: 1px solid #dedede;
    }

    table.table-bordered>tfoot>tr>th {
        border: 1px solid #dedede;
    }

    .table-hover tbody tr:hover td,
    .table-hover tbody tr:hover th {
        background: rgba(var(--c-black), 0.1);
        color: var(--page-text);
    }
}

.table-dataTable {
    margin-top: 20px;
    overflow: auto;

    .dataTables_length {
        color: var(--page-text) !important;

        label {
            font-size: 14px;
            font-weight: 600;

            select {
                font-size: 11px;
                background: var(--c-white);
                margin: 0 5px;
                color: var(--c-black);
                border: 0;
            }
        }
    }

    .dataTables_filter {
        label {
            color: var(--page-text);
            font-size: 14px;
            font-weight: 600;

            input {
                background: var(--c-white);
                font-size: 13px;
                margin-left: 5px;
                padding: 6px 15px;
                border-radius: 50px;
                color: var(--c-black);
                border: 0;
            }
        }
    }

    table {
        border-width: 0;

        thead {
            background: #262A3B;
        }

        th {
            color: var(--page-text);
            border-bottom-width: 1px;
            font-size: 14px;

            @media screen and (max-width: 425px) {
                font-size: 11px;
            }
        }

        tbody {
            tr {
                color: var(--page-text);
                background: var(--background-page) !important;
                font-size: 12px;

                @media screen and (max-width: 425px) {
                    font-size: 11px;
                }

                td {
                    border-bottom-width: 0;
                    vertical-align: middle;
                }

                &.even {
                    background: var(--secondary-color) !important;
                }

                &:hover {
                    color: var(--c-white);
                    background: rgba(0, 0, 0, 0.3) !important;
                    cursor: pointer;
                }

                .table-status {
                    background: #1DBC60;
                    color: var(--c-white);
                    padding: 5px;
                    border-radius: 20px;
                    width: 100px;
                    margin: auto;
                    font-size: 11px;
                    font-weight: 700;

                    &.success {
                        background: #1DBC60;
                    }
                }
            }
        }
    }

    .dataTable {
        border-bottom: 1px solid var(--c-white) !important;

        th {
            border-bottom: 0 !important;
        }

        tbody {
            td {
                .table-status {
                    color: var(--c-white);
                    padding: 5px;
                    border-radius: 20px;
                    width: 100px;
                    margin: auto;
                    font-size: 12px;
                    font-weight: 700;
                    text-align: center;

                    &.approved {
                        background: #9DE2A4;
                        color: #00A711;
                    }

                    &.pending {
                        background: #ffc592;
                        color: #E67E22;
                    }

                    &.rejected {
                        background: #E29D9D;
                        color: #A70000;
                    }
                }
            }
        }
    }

    .dataTables_info {
        color: var(--page-text) !important;
        font-size: 13px;
        font-weight: 600;
        padding-top: 15px !important;
    }

    .dataTables_paginate {
        // background: var(--secondary-color);
        padding-top: 0 !important;
        border-radius: 3px;
        margin-top: 15px;

        .paginate_button {
            margin-left: 0 !important;
            padding: 5px 10px !important;
            font-size: 13px;
            font-weight: 600;
            border: 0 !important;
            border-radius: 0 !important;
            cursor: pointer;

            &.current {
                background: var(--c-white) !important;
                color: var(--c-black) !important;

                &:hover {
                    background: var(--secondary-color) !important;
                    color: var(--secondary-text) !important;
                }
            }

            &.disabled {
                color: var(--c-white) !important;
                cursor: pointer;
            }

            &:hover {
                background: var(--secondary-color) !important;
                color: var(--secondary-text) !important;
            }

            span {
                .paginate_button {
                    background: transparent;
                    color: var(--c-white) !important;
                }
            }
        }
    }
}

.table-custom {

    table {
        margin: 0;
        padding: 0;
        background: var(--background-page);
    }

    thead {
        background: #262A3B;
    }

    table th {
        font-weight: 600;
    }

    table th,
    table td {
        padding: .625em;
        text-align: center;
        font-size: 13px;
        white-space: nowrap;
        vertical-align: middle;
        padding: 8px 5px;
        color: var(--page-text);
    }

    table.table-bordered>thead>tr>th {
        border: 1px solid #dedede;
    }

    table.table-bordered>tbody>tr>td {
        border: 1px solid #dedede;
    }

    table.table-bordered>tfoot>tr>th {
        border: 1px solid #dedede;
    }

    .table-hover tbody tr:hover td,
    .table-hover tbody tr:hover th {
        background: rgba(var(--page-text), 0.1);
        color: var(--c-white);
    }

    @media screen and (max-width: 600px) {
        table {
            border: 0;
        }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        tfoot {
            tr {
                border-bottom: 1px solid #dedede;
            }
        }

        table tr {
            display: block;
            margin-bottom: 15px;
        }

        table td {
            display: block;
            font-size: 11px;
            text-align: right;
            white-space: pre-line;
            max-width: 350px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        table td::before {
            /*
          * aria-label has no advantage, it won't be read inside a table
          content: attr(aria-label);
          */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
            font-weight: 600;
        }

        table td:last-child {
            border-bottom: 0;
        }
    }
}
