.forgot-password
{
	.forgot-password__container
	{
		background: var(--background-page);
		// border: 2px solid var(--secondary-color);
		padding: 30px 15px 35px;
		text-align: center;
		color: var(--page-text);
		border-radius: 15px;
		.password-form
		{
			margin-top: 25px;
			max-width: 800px;
			margin-left: auto;
			margin-right: auto;
			.form-group
			{
				display: flex;
				flex-direction: column;
				text-align: left;
				label
				{
					font-size: 14px;
					font-weight: 600;
					margin-bottom: 5px;
				}
				.captcha-img {
					img {
						max-width: 300px;
					}
				}
			}
			.password-button
			{
				display: flex;
				align-items: center;
				justify-content: flex-end;
				button
				{
					font-size: 15px;
					padding: 6px 13px;
					min-width: 80px;
					color: var(--c-white);
					font-weight: 600;
					border-radius: 3px;
					border: 0;
				}
				.batal
				{
					background: #c9302c;
					margin-right: 10px;
				}
				.reset
				{
					background: #009FD3;
				}
			}
		}
	}
}
