.game {
    .game__slider {
        overflow: hidden;
        position: relative;
        animation: blinkAnimation 2.5s infinite;
        border-radius: 20px;

        .swiper-slide {
            cursor: pointer;

            img {
                width: 100%;
                height: 250px;
                object-fit: cover;
            }
        }

        .swiper-pagination {
            .swiper-pagination-bullet {
                background: transparent;
                width: 10px;
                height: 10px;
                border: 2px solid var(--text-white);
                opacity: 1;
            }

            .swiper-pagination-bullet-active-main {
                background: var(--text-white);
            }
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    .game__list {
        .page-header {
            padding-top: 15px;
        }

        .mobile-page-header {
            margin-top: 15px;
        }

        .game-list-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
            grid-gap: 15px;
            margin-bottom: 25px;

            @media screen and (max-width: 800px) {
                grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
                grid-gap: 10px;
            }

            .game-holder {
                background: var(--background-page);
                border-radius: 5px;
                overflow: hidden;
                border-radius: 15px;
                cursor: pointer;

                .game-img {
                    position: relative;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                    }

                    .hover-play {
                        background: rgba(0,0,0,0.5);
                        color: var(--c-white);
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        transform: scale(0);
                        @include transition(0.2s);

                        h6 {
                            font-size: 11px;
                            margin-bottom: 20px;
                            font-weight: 600;
                            background: var(--secondary-color);
                            border-radius: 25px;
                            padding: 5px 5px;
                            max-width: 120px;
                            min-width: 120px;
                            text-align: center;
                            position: absolute;
                            top: 20px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .fas, .fi {
                            color: var(--c-white);
                            font-size: 20px;
                            background: rgba(255,255,255,0.4);
                            border-radius: 50px;
                            width: 50px;
                            height: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        @media screen and (max-width: 800px) {
                            h6 {
                                font-size: 10px;
                                max-width: 100px;
                                min-width: 100px;
                            }

                            .fas {
                                font-size: 15px;
                                padding: 10px;
                            }
                        }

                        &.game-maintenance {
                            transform: scale(1);

                            h6 {
                                background: linear-gradient(to bottom, #F52A34 0%, #A11C1F 100%);
                            }

                            .fas {
                                background: linear-gradient(to bottom, #F52A34 0%, #A11C1F 100%);
                            }
                        }

                        &.coming-soon {
                            transform: scale(1);

                            h6 {
                                background: linear-gradient(to bottom, #FFE600 0%, #FF7A00 100%);
                                color: var(--c-black);
                            }

                            .fas {
                                background: linear-gradient(to bottom, #FFE600 0%, #FF7A00 100%);
                                color: var(--c-black);
                            }
                        }
                    }
    
                    &:hover {
                        .hover-play {
                            transform: scale(1);
                            @include transition(0.2s);
                        }
                    }
                }
            }
        }

    }

    .game__seo {
        background: var(--background-page);
        // border: 2px solid var(--secondary-color);
        color: var(--page-text);
        border-radius: 15px;
        padding: 15px 20px;

        .seo-mob-title {
            text-align: center;
            font-size: 18px;
            font-weight: 700;
        }

        img {
            width: 100% !important;
        }

        table {
            color: var(--page-text);
        }

        @media screen and (max-width: 768px) {
            padding: 10px 15px;

            h1 {
                font-size: 1.4rem;
            }
            h2 {
                font-size: 1.3rem;
            }
            h3 {
                font-size: 1.25rem;
            }
            h4 {
                font-size: 1.2rem;
            }
            h5 {
                font-size: 1.15rem;
            }
            h6 {
                font-size: 1rem;
            }
        }
    }

}
