.memo
{
	.memo__container
	{
		.component-tab-content {
			padding: 0;
			margin-top: 20px;
			background: var(--background-page);
			// border: 2px solid var(--secondary-color);
			border-radius: 15px;
			padding: 20px;
		}
		.memo-tab-title
		{
			color: var(--page-text);
			font-size: 18px;
			font-weight: 600;
		}
		.table-memo
		{
			.memo-days
			{
				font-size: 10px;
				font-weight: 600;
				color: #DF931B;
			}
			.memo-info
			{
				font-weight: 600;
				color: var(--page-text);
				&:hover
				{
					color: #DF931B;
				}
			}
		}
		.memo-add
		{
			.form-group
			{
				margin-bottom: 15px;
				label
				{
					font-size: 14px;
					font-weight: 600;
					margin-bottom: 3px;
					color: var(--page-text);
				}
				textarea {
					border-radius: 15px;
					font-weight: 600;
					min-height: 200px;
					padding: 8px 12px;
				}
				.cap-img
				{
					display: flex;
					align-items: center;
					.btn-info
					{
						background: var(--secondary-color);
						border: 1px solid var(--secondary-color);
						margin-left: 10px;
						color: var(--secondary-text);
						font-weight: 600;

						&:hover{
							color: var(--c-white);
							background: var(--c-black);
						}
					}
					.btn-custom-sm
					{
						margin-left: 10px;
						min-width: 70px;
					}
					.input-code
					{
						max-width: 120px;
					}

					@media screen and (max-width: 425px) {
						flex-direction: column;
						align-items: flex-start;

						.img-holder {
							margin-bottom: 15px;
						}
					}
				}
			}
		}
		.memo-desc
		{
			color: var(--page-text);
			font-size: 14px;
			margin-top: 18px;
		}
	}
}