.register {
	.register__container {
		text-align: center;
		background: var(--background-page);
		color: var(--page-text);
		padding: 20px;
		border-radius: 15px;

		.register-desc {
			font-size: 14px;
			font-weight: 600;
			max-width: 800px;
			margin: auto;
		}

		.register-form {
			margin-top: 20px;
			max-width: 800px;
			margin-left: auto;
			margin-right: auto;

			.form-group {
				margin-bottom: 20px;

				label {
					font-size: 14px;
					font-weight: 600;
					margin-bottom: 0;
					text-align: left;
				}

				.input-group {
					.input-group-text {
						font-size: 13px;
						font-weight: 600;
					}
				}

				#username_message {
					small {
						font-weight: 600;
					}
				}

				.cap-img {
					display: flex;
					align-items: center;

					button {
						border: 0;
						margin-left: 10px;
					}

					.input-code {
						max-width: 170px;
					}
				}
			}

			.register-terms {
				cursor: pointer;
				font-size: 13px;
				font-weight: 600;

				span {
					margin-left: 5px;
				}

				a {
					text-decoration: none;
					color: var(--page-text);
				}
			}

			.daftar {
				min-width: 250px;
				margin-top: 15px;
			}
		}
	}
}