.transaksi {
    .component-tab-content {
        padding-top: 0;
        
        .transaksi-payment {
            margin: 20px 25px 0;

            .payment-item {
                background: rgba(255,255,255,0.1);
                color: #fff;
                padding: 7px 5px;
                border-radius: 10px;
                position: relative;
                cursor: pointer;

                .payment-status {
                    border-radius: 50px;
                    color: var(--c-white);
                    width: 13px;
                    height: 13px;
                    position: absolute;
                    top: 0;
                    right: 0;

                    &.online {
                        background: #5cb85c;
                    }

                    &.offline {
                        background: #d9534f;
                    }
                }

                .payment-body {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .payment-icon {
                        img {
                            width: 70px;
                            height: 35px;
                            object-fit: contain;
                            object-position: center;
                        }
                    }
                }
            }

            @media screen and (max-width: 800px) {
                margin: 15px 0 0;
            }
        }

        .transaksi-payment-holder {
            position: relative;

            .payment-navigation {
                position: absolute;
                top: 50%;
                z-index: 99;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
                width: 100%;
                left: 0;

                .btn-custom-sm {
                    width: 20px;
                    height: 26px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 25px;
                    position: relative;
                    
                    i {
                        font-size: 16px;
                    }

                    &.swiper-button-disabled {
                        background: rgba(255,255,255,0.1);
                        border: 1px solid rgba(255,255,255,0.1);
                        color: var(--page-text);
                    }

                    &.navigation-prev--payment {
                        right: 8px;
                    }

                    &.navigation-next--payment {
                        margin-left: auto;
                        left: 8px;
                    }
                }
            }

            @media screen and (max-width: 800px) {
                .payment-navigation {
                    display: none;
                }
            }
        }

        .transaksi-note {
            padding: 20px 0 10px;
            border-radius: 15px;

            .addbank-note {
                font-size: 13px;
                background: rgba(255,255,255,0.1);
                padding: 10px 15px;
                margin-right: 10px;
                min-width: 100px;
                border-radius: 10px;
            }
        }

        .transaksi-formulir {

            .formulir-title {
                color: var(--c-white);
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            .formulir-form {
                .form-group {
                    margin: 5px 0 15px;
                    color: var(--page-text);

                    label {
                        font-size: 14px;
                        margin-bottom: 0;
                    }

                    .formulir-desc {
                        font-size: 11px;
                    }

                    .fa-sync {
                        font-size: 12px;
                    }

                    #proof {
                        width: 100%;
                        border-radius: 3px;
                        font-size: 13px;
                        font-weight: 600;
                        padding: 6px 10px;
                    }

                    .bank-details {
                        display: flex;

                        .bank-logo {
                            img {
                                width: 110px;
                                height: 60px;
                                object-fit: contain;
                                margin-right: 30px;
                            }
                        }

                        .bank-info {
                            .info-item {
                                font-weight: 600;
                                font-size: 11px;
                                margin-bottom: 0;
                            }
                        }

                        &.qris-payment {
                            .bank-logo {
                                img {
                                    width: 160px;
                                    height: 160px;
                                }
                            }
                            .bank-info {
                                align-self: center;
                            }
                        }
                    }
                }

                .input-group-append {
                    border-left: 1px solid transparent;
                    
                    .btn-custom {
                        margin-top: 0;
                        border-radius: 0 5px 5px 0;
                    }
                }

                .btn-custom {
                    min-width: 120px;
                }
            }
        }

        .transaksi-form {
            margin-bottom: 20px;
        }

        .transaksi-info {
            height: 100%;

            .info-header {
                color: var(--c-white);
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            .info-content {
                color: var(--page-text);

                img {
                    width: 100% !important;
                }
    
                table {
                    color: var(--page-text);
                }
            }
        }

        .transaksi-table-bottom {
            margin-top: 20px;

            .bottom-form {
                .form-title {
                    font-size: 22px;
                    font-weight: 700;
                    color: var(--page-text);
                }

                .form-group {
                    margin-bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    label {
                        font-size: 14px;
                        font-weight: 600;
                        margin-bottom: 5px;
                        margin-right: 10px;
                        color: var(--page-text);
                    }

                    input {
                        border-radius: 3px;
                        font-size: 13px;
                        font-weight: 600;
                        padding: 5px 12px;
                    }

                    button {
                        font-size: 14px;
                        background: var(--secondary-color);
                        color: var(--secondary-text);
                        font-weight: 600;
                        padding: 6px 13px;
                        min-width: 100px;
                        border: 0;
                        margin-left: auto;
                    }
                }

                @media screen and (max-width: 768px) {
                    .form-title {
                        font-size: 18px;
                        margin-bottom: 10px;
                        text-align: center;
                    }

                    .form-group {
                        flex-direction: column;

                        label {
                            font-size: 12px;
                        }
                    }
                }
            }
        }

		.transaksi-bonus {
			display: none;

			.claim-bonus {

                &__title {
                    color: var(--c-white);
                    font-size: 22px;
                    font-weight: 700;
                    margin-bottom: 10px;
                    text-align: center;
                }

                &__body {
                    &.bonus-available {
                        .bonus-available__info {
                            border-radius: 15px;
                            background: var(--background-page);
                            color: var(--page-text);
                            padding: 15px 20px;
                            font-size: 13px;
                        }

                        .bonus-available__list {
                            margin-top: 30px;

                            .promo-item {
                                padding: 15px;
                                border-radius: 5px;
                                background: var(--background-page);
                                color: var(--page-text);

                                .item-title {
                                    font-size: 15px;
                                    color: var(--secondary-color);
                                    font-weight: 600;
                                    margin-bottom: 13px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }

                                .item-mid {
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 10px;

                                    .mid-content {
                                        .content-info {
                                            font-size: 14px;
                                            font-weight: 500;
                                            display: grid;
                                            grid-template-columns: 100px auto;
                                        }
                                    }
                                    .btn-claim {
                                        min-width: 90px;
                                        margin-left: auto;
                                    }
                                }

                                .item-bottom {
                                    display: flex;
                                    align-items: center;
                                    

                                    .bottom-date {
                                        font-size: 11px;
                                        color: var(--secondary-color);
                                        font-weight: 500;
                                    }

                                    .btn-info {
                                        background: transparent;
                                        color: var(--secondary-color);
                                        border: 0;
                                        min-width: 90px;
                                        margin-left: auto;

                                        &:focus {
                                            box-shadow: none;
                                        }
                                    }
                                }

                                .item-provider {
                                    margin-top: 10px;
                                    border-top: 1px solid rgba(255,255,255,0.1);
                                    padding-top: 15px;

                                    .prog-game-swiper {
                                        min-height: 100px;
                                        max-height: 100px;

                                        .swiper-wrapper {
                                            height: 30px;

                                            .game-icon {
                                                text-align: center;
                                                align-self: flex-start;

                                                img {
                                                    width: 100%;
                                                    height: 30px;
                                                    object-fit: contain;
                                                    object-position: center;
                                                }

                                                &:hover {
                                                    img {
                                                        filter: grayscale(100%);
                                                    }
                                                }
                                            }

                                            @media screen and (max-width: 425px) {
                                                grid-template-columns: repeat(2, 1fr);
                                            }
                                        }
                                        .swiper-pagination {
                                            position: absolute;
                                            bottom: 0 !important;

                                            .swiper-pagination-bullet {
                                                background: rgba(255, 255, 255, 0.3) !important;
                                            }
                    
                                            .swiper-pagination-bullet.swiper-pagination-bullet-active {
                                                background: var(--secondary-color) !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.bonus-joined {
                        .bonus-joined__content {
                            padding: 15px 20px;
                            border-radius: 15px;
                            background: var(--background-page);
                            color: var(--page-text);

                            .bonus-title {
                                text-align: center;
                                color: var(--secondary-color);
                                font-size: 22px;
                                font-weight: 600;
                            }

                            .bonus-progress {
                                margin-top: 15px;

                                .progress {
                                    padding: 3px;
                                    height: 30px;
                                    border-radius: 50px;

                                    &-bar {
                                        border-radius: 50px;
                                        background-color: var(--background-page);
                                    }
                                }
                                .progress-percent {
                                    font-size: 18px;
                                    font-weight: 600;
                                    margin-top: 5px;
                                    text-align: center;
                                }
                            }

                            .promo-provider-icon {
                                background: rgba(0,0,0,0.4);
                                border-radius: 15px;
                                padding: 15px 10px;

                                h6 {
                                    font-size: 14px;
                                }
                            }

                            .btn-custom {
                                width: 100%;
                            }
                        }
                    }
                }
			}
		}
    }
}